<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Ejemplos (Prisma triangular)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-example ruta="assets/images/prisma_triangular/fig_1.jpg" 
  titulo="Ejemplo 1: Perímetro de la Base de un Prisma Triangular" 
  texto="El perímetro de la base de un prisma triangular es simplemente la suma de las longitudes de los tres lados del triángulo. Si <strong>x</strong>, <strong>y</strong> y <strong>z</strong> las longitudes de los lados del triángulo, entonces el perímetro <strong>P</strong> de la base es:
  
  $$P = x + y + z$$
  
  Supongamos que tenemos un prisma triangular con un triángulo base donde los lados miden <strong>x = 5</strong>, <strong>y = 6</strong> y <strong>z = 7</strong> unidades. Entonces, el perímetro de la base sería:
  
  $$P = 5 + 6 + 7 = 18$$

  Por lo tanto, el perímetro de la base del prisma es <strong>18</strong> unidades."></app-example>

  <app-example ruta="assets/images/prisma_triangular/fig_2.jpg" 
  titulo="Ejemplo 2: Área de la Base de un Prisma Triangular" 
  texto="El área de la base de un prisma triangular se calcula utilizando la fórmula del área de un triángulo. Si <strong>b</strong> es la base del triángulo y <strong>h</strong> es la altura correspondiente, entonces el área <strong>A_base</strong> de la base es:
  
  $$A_{base} = \frac{1}{2} b h$$
  
  Supongamos que tenemos un prisma triangular con un triángulo base donde la base mide <strong>b = 6</strong> unidades y la altura <strong>h = 4</strong> unidades. Entonces, el área de la base sería:
  
  $$A_{base} = \frac{1}{2} * 6 * 4 = 12$$
  
  Por lo tanto, el área de la base del prisma es <strong>12</strong> unidades cuadradas."></app-example>

  <app-example ruta="assets/images/prisma_triangular/figure_static.jpg" 
  titulo="Ejemplo 3: Área Lateral de un Prisma Triangular" 
  texto="El área lateral de un prisma triangular se calcula multiplicando el perímetro de la base por la altura del prisma. Si <strong>P</strong> es el perímetro de la base y <strong>h</strong> es la altura del prisma, entonces el área lateral <strong>A_lateral</strong> es:
  
  $$A_{lateral} = P h$$
  
  Supongamos que tenemos un prisma triangular con un perímetro de la base de <strong>P = 18</strong> unidades (como en el ejemplo 1) y una altura de <strong>h = 10</strong> unidades. Entonces, el área lateral sería:
  
  $$A_{lateral} = 18 * 10 = 180$$
  
  Por lo tanto, el área lateral del prisma es <strong>180</strong> unidades cuadradas."></app-example>

  <app-example ruta="assets/images/prisma_triangular/fig_1.jpg" 
  titulo="Ejemplo 4: Área Total de un Prisma Triangular" 
  texto="El área total de un prisma triangular es la suma del doble del área de la base y el área lateral. Entonces, si <strong>A_base</strong> es el área de la base y <strong>A_lateral</strong> es el área lateral, entonces el área total <strong>A_total</strong> es:
  
  $$A_{total} = 2 A_{base} + A_{lateral}$$
  
  Supongamos que tenemos un prisma con un área de la base de <strong>A_base = 12</strong> unidades cuadradas (como en el ejemplo 2) y un área lateral de <strong>A_lateral = 180</strong> unidades cuadradas (como en el ejemplo 3). Entonces, el área total sería:
  
  $$A_{total} = 2 * 12 + 180 = 204$$
  
  Por lo tanto, el área total del prisma es <strong>204</strong> unidades cuadradas."></app-example>
  
  <app-example ruta="assets/images/prisma_triangular/fig_2.jpg" 
  titulo="Ejemplo 5: Volumen de un Prisma Triangular" 
  texto="El volumen de un prisma triangular se calcula multiplicando el área de la base por la altura del prisma. Si <strong>A_base</strong> es el área de la base y <strong>h</strong> es la altura del prisma, entonces el volumen <strong>V</strong> es:
  
  $$V = A_{base} h$$
  
  Supongamos que tenemos un prisma triangular con un área de la base de <strong>A_base = 12</strong> unidades cuadradas (como en el ejemplo 2) y una altura de <strong>h = 10</strong> unidades. Entonces, el volumen sería:
  
  $$V = 12 * 10 = 120$$
  
  Por lo tanto, el volumen del prisma es <strong>120</strong> unidades cúbicas"></app-example>

  <ion-button class="btn-ex" expand="block" (click)="navigateToAnotherPage('/exercise-prisma-triangular')">Ejercicios</ion-button>
</ion-content>
