<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Esfera</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-figure
  ruta="assets/images/esfera/figure.gif"
  titulo="Esfera"
  texto="Una esfera es una figura tridimensional en la que todos los puntos de su superficie están a la misma distancia (radio, r) de un punto central llamado centro. Es una superficie perfectamente simétrica en todas las direcciones.
  <br><strong>Perímetro (Circunferencia)</strong>: 
  $$P = 2 \pi r$$
  <strong>Área de la base</strong>: 
  $$A = 4 \pi r^2$$
  <strong>Volumen</strong>: 
  $$V = \frac{4}{3} \pi r^3$$
  Donde <strong>r</strong> es el radio de la esfera y <strong>π</strong> (pi) es una constante aproximadamente igual a 3.1416."
  audioRuta="assets/audios/esfera/audio.mp3"
  tipo="piramide">
</app-figure>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button class="btn-ex" expand="block" (click)="navigateToAnotherPage('/example-esfera')">Ejemplos</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="btn-ex" expand="block" (click)="navigateToAnotherPage('/exercise-esfera')">Ejercicios</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
