<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Pirámide pentagonal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-figure
  ruta="assets/images/piramide_pentagonal/figure.gif"
  titulo="Pirámide pentagonal"
  texto="Una pirámide pentagonal es una figura tridimensional que tiene una base pentagonal y cinco caras laterales que son triángulos, los cuales convergen en un punto común llamado vértice o ápice.
  <br><strong>Perímetro de la base</strong>: 
  $$P = 5 a$$
  <strong>Área de la base</strong>: 
  $$A_{base} = \frac{1}{4} \sqrt{5 (5 + 2 \sqrt{5})} a^2$$
  <strong>Área lateral</strong>: 
  $$A_{lateral} = 5 (\frac{1}{2} a * ap) = \frac{5}{2} a * ap$$
  <strong>Área total</strong>: 
  $$A_{total} = A_{base} + A_{lateral}$$
  <strong>Volumen</strong>: 
  $$V = \frac{1}{3} A_{base}h$$
  Donde <strong>a</strong> es la longitud de un lado del pentágono, <strong>ap</strong> es la apotema (la altura de cada triángulo lateral desde el centro de la base del triángulo hasta el vértice de la pirámide) y <strong>h</strong> es la altura desde el centro de la base pentagonal hasta el vértice de la pirámide."
  audioRuta="assets/audios/piramide_pentagonal/audio.mp3">
</app-figure>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button class="btn-ex" expand="block" (click)="navigateToAnotherPage('/example-piramide-pentagonal')">Ejemplos</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="btn-ex" expand="block" (click)="navigateToAnotherPage('/exercise-piramide-pentagonal')">Ejercicios</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>