<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Ejemplos (Prisma hexagonal)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-example ruta="assets/images/prisma_hexagonal/fig_1.jpg" 
  titulo="Ejemplo 1: Perímetro de la Base de un Prisma Hexagonal" 
  texto="El perímetro de la base de un prisma hexagonal es simplemente la suma de las longitudes de los seis lados del hexágono. Si <strong>s</strong> es la longitud de un lado del hexágono, entonces el perímetro <strong>P</strong> de la base es:
  
  $$P = 6 s$$
  
  Supongamos que tenemos un prisma hexagonal con un hexágono base donde cada lado mide <strong>s = 8</strong> unidades. Entonces, el perímetro de la base sería:
  
  $$P = 6 * 8 = 48$$

  Por lo tanto, el perímetro de la base del prisma es <strong>48</strong> unidades."
  tipo="prisma"></app-example>

  <app-example ruta="assets/images/prisma_hexagonal/fig_2.jpg" 
  titulo="Ejemplo 2: Área de la Base de un Prisma Hexagonal" 
  texto="El área de la base de un prisma hexagonal se puede calcular de varias maneras. Una forma es dividir el hexágono en triángulos equiláteros y calcular el área de uno de esos triángulos, luego multiplicar por 6. Otro método es utilizando la fórmula general para el área de un hexágono regular. Para un hexágono regular, el área <strong>A_base</strong> de la base es:
  
  $$A_{base} = \frac{3\sqrt{3}}{2} a^2$$
  
  donde <strong>s</strong> es la longitud de un lado del hexágono.
  <br>
  Supongamos que tenemos un prisma hexagonal con un hexágono base donde cada lado mide <strong>s = 8</strong> unidades. Entonces, el área de la base sería:
  
  $$A_{base} = \frac{3\sqrt{3}}{2} * 8^2 = 96 * \sqrt{3}$$
  
  Por lo tanto, el área de la base del prisma es <strong>96 √(3)</strong> unidades cuadradas."
  tipo="prisma"></app-example>

  <app-example ruta="assets/images/prisma_hexagonal/fig_3.jpg" 
  titulo="Ejemplo 3: Área Lateral de un Prisma Hexagonal" 
  texto="El área lateral de un prisma hexagonal se calcula multiplicando el perímetro de la base por la altura del prisma. Si <strong>P</strong> es el perímetro de la base y <strong>h</strong> es la altura del prisma, entonces el área lateral <strong>A_lateral</strong> es:
  
  $$A_{lateral} = P h$$
  
  Supongamos que tenemos un prisma hexagonal con un perímetro de la base de <strong>P = 48</strong> unidades (como en el ejemplo 1) y una altura de <strong>h = 10</strong> unidades. Entonces, el área lateral sería:
  
  $$A_{lateral} = 48 * 10 = 480$$
  
  Por lo tanto, el área lateral del prisma es <strong>480</strong> unidades cuadradas."
  tipo="prisma"></app-example>

  <app-example ruta="assets/images/prisma_hexagonal/fig_4.jpg" 
  titulo="Ejemplo 4: Área Total de un Prisma Hexagonal" 
  texto="El área total de un prisma hexagonal se calcula sumando el doble del área de la base al área lateral. Por lo tanto, la fórmula correcta para el área total <strong>A_total</strong> es:
  
  $$A_{total} = 2 A_{base} + A_{lateral}$$
  
  Utilicemos esta fórmula para calcular el área total del prisma hexagonal.

  Supongamos que tenemos un prisma con un área de la base de <strong>A_base = 96 √(3)</strong> unidades cuadradas (como en el ejemplo 2) y un área lateral de <strong>A_lateral = 480</strong> unidades cuadradas (como en el ejemplo 3). Entonces, el área total sería:
  
  $$A_{total} = 2 * 96 \sqrt{3} + 480$$
  
  Por lo tanto, el área total del prisma es <strong>192 √(3) + 480</strong> unidades cuadradas."
  tipo="prisma"></app-example>
  
  <app-example ruta="assets/images/prisma_hexagonal/fig_5.jpg" 
  titulo="Ejemplo 5: Volumen de un Prisma Hexagonal" 
  texto="El volumen de un prisma hexagonal se calcula multiplicando el área de la base por la altura del prisma. Si <strong>A_base</strong> es el área de la base y <strong>h</strong> es la altura del prisma, entonces el volumen <strong>V</strong> es:
  
  $$V = A_{base} h$$
  
  Supongamos que tenemos un prisma hexagonal con un área de la base de <strong>A_base = 96 √(3)</strong> unidades cuadradas (como en el ejemplo 2) y una altura de <strong>h = 10</strong> unidades. Entonces, el volumen sería:
  
  $$V = 96 \sqrt{3} * 10 = 960 \sqrt{3}$$
  
  Por lo tanto, el volumen del prisma es <strong>960 √(3)</strong> unidades cuadradas."
  tipo="prisma"></app-example>

  <ion-button class="btn-ex" expand="block" (click)="navigateToAnotherPage('/exercise-prisma-hexagonal')">Ejercicios</ion-button>
</ion-content>
