<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Prisma octagonal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-figure
  ruta="assets/images/prisma_octagonal/figure.gif"
  titulo="Prisma octagonal"
  texto="Un prisma octagonal es una figura tridimensional que tiene dos bases octagonales congruentes y paralelas entre sí. Las caras laterales del prisma son rectángulos, y la altura del prisma es la distancia perpendicular entre las dos bases.
  <br><strong>Perímetro de la base</strong>: 
  $$P = 8 a$$
  <strong>Área de la base</strong>: 
  $$A_{base} = 2 (1 + \sqrt{2}) a^2$$
  <strong>Área lateral</strong>: 
  $$A_{lateral} = P h$$
  <strong>Área total</strong>: 
  $$A_{total} = 2 A_{base} + A_{lateral}$$
  <strong>Volumen</strong>: 
  $$V = A_{base} h$$
  Donde <strong>a</strong> es la longitud de un lado del octágono y <strong>h</strong> es la altura del prisma."
  audioRuta="assets/audios/prisma_octagonal/audio.mp3"
  tipo="prisma">
</app-figure>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-button class="btn-ex" expand="block" (click)="navigateToAnotherPage('/example-prisma-octagonal')">Ejemplos</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button class="btn-ex" expand="block" (click)="navigateToAnotherPage('/exercise-prisma-octagonal')">Ejercicios</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>